.SelectFieldWorkflow {
    display: flex;
    align-items: center;
}

.SelectLabelWorkflow {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    color: #ffffff;
    margin-right: 25px;
}

.SelectWorkflow {
    margin-right: 40px;
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Montserrat, serif;
    cursor: pointer;
    background: inherit;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 92px;
    letter-spacing: 0.32px;
}

.SelectField select option {
    background: rgba(117, 125, 164, .9);
    border: none;
    outline: none;
}

.Caret-Work {
    color: #9ea3b4;
    font-size: 1.2vmax;
    margin-left: -70px;
}