.ChatPage {
    padding: 0 0 25px 0;
    background-color: #272937;
    max-width: 100%;
    width: calc(100% - 60px);
    min-height: calc(100vh - 60px);
    margin-left: 60px;
}

.ChatHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #2196f3;
    margin-bottom: 20px;
}

.ChatSettings {
    display: flex;
}

.ChatFilter {
    display: flex;
    align-items: center;
}

.ChatList {
    background-color: #00bf1b;
}

.ChatContent {
    background-color: #8492af;
}

.ChatUser {
    background-color: #f83c7b;
}
