.Sales-Report {
    display: block;
    width: 100%;
    min-height: 230px;
    background-color: #2f3242;
}

.Sales-report-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.Sales-report-title {
    color: #ffffff;
    font-family: Montserrat, serif;
    font-size: 24px;
    font-weight: 400;
}