.arrow-next{
    height: 30px;
    width: 16px;
}

.Workflow-Title{
    font:500 36px Roboto;
    color:#0e1a35;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.Workflow-Title span{
    color:#8492af;
}

.TaskList li{
    margin-bottom: 13px;
}

.TaskList li:last-child{
    margin-bottom: 0;
}

.TaskList-Item{
    border:1px solid #d4d9e3;
    background: #fff;
    padding: 36px 35px;
}

.Options-img{
    width: 7px;
    height: 33px;
}

.TaskWrap{
    width:47px;
    height:47px;
    border-radius: 50%;
    background: #5584ff;
    position: relative;
    margin-right: 25px;
}

.TaskWrap span{
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    font:500 24px Roboto;
    transform: translate(-50%, -50%);
}

.Task-Title{
    color:#0e1a35;
    font:500 20px/11px Roboto;
}

.days-left{
    font:14px Roboto;
}

.days-left .fa{
    margin-right: 7px;
    font-size: 20px;
}

.fa-clock-o{
    transform: rotate(90deg);
}

.days-left-to_do{
    color:#8492af;
}

.days-left-error{
    color:#f83c7b;
}

.days-left-completed{
    color:#00bf1b;
}