.RaportPieChart {
    display: flex;
    margin-left: 30px;
}

.pie-chart-item {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.pie-chart-info {
    line-height: 20px;
}

.pie-chart-info p {
    font:700 14px/20px Montserrat, serif;
    color: #ffffff;
}

.pie-chart-info span {
    text-transform: uppercase;
    color: #9ca1b2;
}